#experience {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.all-experience {
  padding: 10px;
}

.company {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
}

.company-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.title-location-date {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.title {
  min-width: 500px;
}

.skills {
  font-size: 13px;
  margin-left: 35px;
  font-style: italic;
}

.description {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 8px;
  text-align: justify;
}
