
#experience {
    min-height: 50vh;
    /* padding-left: 100px; */
    margin: auto;
    max-width: 1000px;
    padding-top: 100px;
    font-family: "Roboto", sans-serif;
    /* font-family: "Monaco", monospace; */
    /* text-align: justify; */
    
  }


.company {
    list-style-type: none;
    margin-top: 10px;
    font-size: 17px;
    /* font-weight: bold; */
    font-weight: 900;
  }

  .title-location-date {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 12px;

  }

  .experience{
    list-style-type: none;
  }

  .title {
    /* max-width: 600px; */
    min-width: 400px;
    
  }

  .skills{
    font-size: 12px;
    
    font-style: italic;
  }

  .description {
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
  }