/* #about{

} */
#experience {
    min-height: 50vh;
    margin: auto;
    max-width: 1000px;
    padding-top: 100px;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
  }
  
  .about-description {
    font-family: "Monaco", monospace;
    color: var(--slate);
    padding-top: 30px;
    max-width: 600px;
    font-size: 17px;
    text-align: justify;
    margin: 0;
  }
  
  .about-description a,
  .about-description b {
    font-size: 21px;
    font-weight: bold;
  }
  
  .about-image {
    padding-left: 40px;
  }
  
  .about-image img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
  }
  
  @media only screen and (max-width: 788px) {
    .about-image img {
      max-width: 200px;
    }
  }
  
  .about-image:hover {
    transform: translateY(-7px);
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      padding-top: 30%;
    }
  
    .about-description {
      font-size: 18px;
      text-align: justify;
    }
  
    .about-description a,
    .about-description b {
      font-size: 17px;
    }
  
    .about-image img {
      display: none;
    }
  
    .about-content {
      display: unset;
    }
  }