.introduction{
    /* margin-top: 100px; */
    font-family: "Monaco", monospace;
    padding: 80px;
}

.introduction_emoji{
    font-size: 35px;
}

h1{
    font-size: 60px;
    font-family: "Monaco", monospace;
   
}